
.card {
    position: relative;
    min-width: 300px;
    height: auto;
    overflow: hidden;
    border-radius: 15px !important;
    margin: 0 auto;
    padding: 40px 20px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    transition: .5s;
  }
  .card:hover {
    transform:scale(1.1);
  }